{% extends "home/home.html" %}
{% load htmltags %}

{% block staticfiles %}
    {% load staticfiles %}
    <link rel = "stylesheet" href = "{% static 'css/editor.css' %}" type = "text/css"/>
    <script src = "{% static 'javascript/ace/ace.js' %}" type = "text/javascript" charset = "utf-8"></script>
    <script src = "{% static 'javascript/skulpt/skulpt.min.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'javascript/skulpt/skulpt-stdlib.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'javascript/editor/editor.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'javascript/editor/acefunctions.js' %}" type = "text/javascript"></script>
    <script type = "text/javascript">
        function SaveCode()
        {
            var code = editor.getSession().getValue();
            code = encodeURIComponent(code);
            var message = "projecthash={{ pres.presHash }}&code=" + code;
            func = function(ajaxresponse)
            {
                // AddToConsole(ajaxresponse);
            }
            var headers = [["Content-Type","application/x-www-form-urlencoded"],["X-CSRFToken", "{{ csrf_token }}"]];
            var url = "{% url 'editor:savecode' %}"
            SendAjaxRequest(func, true, url, headers, message);
        }
        function ChangeProjectName()
        {
            var newName = document.getElementById("alternametext").value;
            for (var index = 0; index < newName.length; index++)
            {
                if (newName[index] != " " && newName[index] != ' ')
                {
                    func = function(ajaxresponse)
                    {
                        document.getElementById("name").innerHTML = "Name: " + newName;
                    }
                    var message = "projecthash={{ pres.presHash }}&name=";
                    message += newName;
                    var headers = [["Content-Type","application/x-www-form-urlencoded"],["X-CSRFToken", "{{ csrf_token }}"]];
                    var url = "{% url 'editor:altername' %}";
                    SendAjaxRequest(func, true, url, headers, message);
                    return;
                }
            }
        }
    </script>
{% endblock %}

{% block body %}
    <ul id = "vitalinformation-control">
        <li>
            <div id = "vitalinformation">
                <h3 id = "name">
                    Name: {{ pres.presName }}
                </h3>
            </div>
        </li>
        <li>
            <div id = "control">
                <ul>
                    <li>
                        <button type = "button" onclick = "SaveCode()" class = "controlbuttons">
                            Save
                        </button>
                    </li>
                    <li>
                        <button type = "button" onclick = "ChangeProjectName()" class = "controlbuttons">
                            Change Name
                        </button>
                        <input type = "text" class = "controlbuttons" id = "alternametext">
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div id = "editor"></div>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/python");
        editor.insert("{% html_decode pres.presMarkdown %}");
    </script>
{% endblock %}
