<html>
    <head>
        {% load staticfiles %}
        <link rel = "stylesheet" href = "{% static 'css/home.css' %}" type = "text/css"/>
        {% block staticfiles %}
        {% endblock %}
    </head>
    <body>
        <div id = "navigationdiv">
            <ul>
                <li>
                    <a href = "{% url 'apps.home.home.Index' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href = "{% url 'editor:newproject' %}">
                        Create New Project
                    </a>
                </li>
                <li>
                    <a href = "{% url 'browser:index' %}">
                        Browse Open Source Projects
                    </a>
                </li>
            </ul>
        </div>
        <div id = "mainbody">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
